<%- include("../partials/head", { title: "Compra realizada" }) %>
<%- include("../partials/header") %>

<main class="main">

  <div class="success-container">

  <div class="success-icon">
    <i class="fa-solid fa-circle-check"></i>
  </div>

    <h2>¡Compra realizada con éxito!</h2>

    <p>Gracias por tu compra.</p>

    <a href="/products" class="btn btn-primary">
      Volver a productos
    </a>

  </div>

</main>

<%- include("../partials/footer") %>