<body>

<footer>
  <p class="footer-text">Mi E-commerce © 2026 Nicolás García</p>

  <div class="icons">
      <a href="#"><i class="ri-instagram-line"></i></a>
      <a href="#"><i class="ri-facebook-box-fill"></i></a>
      <a href="#"><i class="ri-youtube-fill"></i></a>
  </div>
</footer>

<div id="toast" class="toast"></div>

<script src="/js/toast.js"></script>
<script src="/js/navbar.js"></script>
<script src="/js/cart.js"></script>
  
</body>