<body>

<footer>
    <p class="footer-text">&copy; 2026 Nicolás García</p>

    <div class="footer-icons">
        <a href="https://www.linkedin.com/in/nicolas-1990-garcia/" target="_blank" rel="noopener noreferrer"><i class="ri-linkedin-box-fill"></i></a>
        <a href="https://github.com/Nicolas-1990" target="_blank" rel="noopener noreferrer"><i class="ri-github-fill"></i></a>
    </div>
</footer>

<div id="toast" class="toast"></div>

<script src="/js/toast.js"></script>
<script src="/js/navbar.js"></script>
<script src="/js/cart.js"></script>
  
</body>